@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #0B8494;
    --secondary: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

.flexx {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* BTN */
.btn {
    border: none;
    outline: none;
    padding: 10px 14px;
    background: var(--primary);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.btn-container {
    column-gap: 15px;
}
.btn-ghost {
    background-color: transparent;
    color: var(--secondary);
}
.btn-primary {
    background-color: var(--primary);
    color: white;
}

/* HEADER */
.header {
    padding: 10px 15px;
}
.header h1 {
    font-size: 30px;
    color: var(--primary);
}
.header .nav-links {
    column-gap: 25px;
}
.header .nav-links a {
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary);
}